<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
        class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search submit=true placeholder="검색어를 입력해주세요"}}
    </div>
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>

  <div class="form-select-menu">
    <ul>
      <li id="sap"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396262528783">
          <div class="img-wrapper">
            <img src="{{asset 'icon-sap.png'}}" alt="">
          </div><span>SAP</span>
        </a></li>
      <li id="tableau"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396613790479">
          <div class="img-wrapper">
            <img src="{{asset 'icon-tableau.png'}}" alt="">
          </div><span>Tableau</span>
        </a></li>
      <li id="dlp"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9400419884175">
          <div class="img-wrapper">
            <img src="{{asset 'icon-dlp.png'}}" alt="">
          </div><span>정보보호솔루션</span>
        </a></li>
      <li id="google"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396772890639">
          <div class="img-wrapper">
            <img src="{{asset 'icon-google.png'}}" alt="">
          </div>
          <span>구글</span>
        </a></li>
      <li id="tAccounting"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396343407631">
          <div class="img-wrapper">
            <img src="{{asset 'icon-taccounting.svg'}}" alt="">
          </div>
          <span>T-Accounting</span>
        </a></li>
      <li id="tMarket"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396481705615">
          <div class="img-wrapper">
            <img src="{{asset 'icon-tmarket.svg'}}" alt="">
          </div><span>T-Market</span>
        </a></li>
      <li id="tHR"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396543350287">
          <div class="img-wrapper">
            <img src="{{asset 'icon-thr.svg'}}" alt="">
          </div><span>T-HR</span>
        </a></li>
      <li id="groupware"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396591737615">
          <div class="img-wrapper">
            <img src="{{asset 'icon-groupware.svg'}}" alt="">
          </div><span>그룹웨어</span>
        </a></li>
      <li id="network"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396663504143">
          <div class="img-wrapper">
            <img src="{{asset 'icon-network.svg'}}" alt="">
          </div><span>네트워크</span>
        </a></li>
      <li id="ssdam"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9400347059215">
          <div class="img-wrapper">
            <img src="{{asset 'icon-ssdam.svg'}}" alt="">
          </div><span>SSDAM</span>
        </a></li>
      <li id="etc"><a href="https://ecorbitsupport.zendesk.com/hc/ko/requests/new?ticket_form_id=9396797439375">
          <div class="img-wrapper">
            <img src="{{asset 'icon-etc.svg'}}" alt="">
          </div><span>기타</span>
        </a></li>
    </ul>
  </div>
  <div id="main-content" class="form inactive">
    {{request_form wysiwyg=true}}
  </div>
</div>