<div class="container-divider"></div>
{{!-- <div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
        class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search scoped=settings.scoped_kb_search submit=true}}
    </div>
  </nav>

  <div class="section-container">
    <section id="main-content" class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
        {{#if settings.show_follow_section}}
        <div class="section-subscribe">{{subscribe}}</div>
        {{/if}}
        {{#if section.description}}
        <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

      {{#if section.sections}}
      <ul class="section-list">
        {{#each section.sections}}
        <li class="section-list-item">
          <a href="{{url}}">
            <span>{{name}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
              aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5" />
            </svg>
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if section.articles}}
      <ul class="article-list">
        {{#each section.articles}}
        <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
          <a href="{{url}}" class="article-list-link">{{title}}</a>
          {{#if internal}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
            class="icon-lock" title="{{t 'internal'}}">
            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
          </svg>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
      {{/if}}

  </div>

</div> --}}
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>
  <div class="section-container notification-section">
    {{#if section.sections}}
    <ul class="section-list">
      {{#each section.sections}}
      <li class="section-list-item">
        <a href="{{url}}">
          <span>{{name}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
            aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"
              d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5" />
          </svg>
        </a>
      </li>
      {{/each}}
    </ul>
    {{/if}}


    <section id="main-content" class="section-content">
      <header class="page-header">
        <div>
          <h1>{{section.name}}</h1>
          {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
          {{/if}}
        </div>
        {{#if settings.show_follow_section}}
        <div class="section-subscribe">{{subscribe}}</div>
        {{/if}}
        <div class="wrapper">
          <p>총 {{section.article_count}}건</p>
          <div class="search-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="search-icon" aria-hidden="true">
              <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
              <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
            </svg>
            {{search scoped=settings.scoped_kb_search submit=true placeholder="검색어를 입력해주세요"}}
          </div>
        </div>
      </header>
      <div class="section-header">
        <ul>
          <li>제목</li>
          <li>작성자</li>
          <li>작성일</li>
        </ul>
      </div>

      {{#if section.articles}}
      <ul class="article-list">
        {{#each section.articles}}
        
        <li class="article-list-item {{#if promoted}} article-promoted{{/if}} {{#if internal}}internal{{/if}}">         
          <a href="{{url}}" class="article-list-link" title="{{title}}">{{title}}</a>
          <p>{{author.name}}</p>
          <div class="btn-dropdown-wrapper">
            <p class="timestamp">{{created_at}}</p>
            <button class="btn-dropdown-article" type="button">
              <i class="fi fi-rr-angle-down"></i>
            </button>
          </div>
         
          <div class="dropdown-article">
            <header class="article-header">
              <div class="article-author">

                <div class="avatar article-avatar">
                  {{#if author.agent}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
                    class="icon-agent" aria-label="{{t 'team_member' name=author.name}}">
                    <path fill="currentColor"
                      d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z" />
                  </svg>
                  {{/if}}
                  <img src="{{author.avatar_url}}" alt="" class="user-avatar" />
                </div>
                <div class="article-meta">

                  {{#link 'user_profile' id=author.id}}
                  {{author.name}}
                  {{/link}}

                  <ul class="meta-group">
                    {{#is created_at edited_at}}
                    <li class="meta-data">{{date created_at timeago=true}}</li>
                    {{else}}
                    <li class="meta-data">{{date edited_at timeago=true}}</li>
                    <li class="meta-data">{{t 'updated'}}</li>
                    {{/is}}
                  </ul>
                </div>
              </div>
            </header>
            <div class="article-content">
              {{body}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
      {{/if}}
    </section>
  </div>
</div>